*~
#*
OLD
._#decoder.sv#
._.git
._Top.qpf
._Top.qsf
._Top.qws
._alu
._alu.sv
._alu.sv.bak
._c5_pin_model_dump.txt
._cpu.sv
._cpu.sv.bak
._db
._decoder.sv
._decoder.sv.bak
._exec
._incremental_db
._memory.sv
._memory.sv.bak
._parameters.h
._parameters.h.bak
._serv_req_info.txt
._simulation
._tb.sv
._top.sv
._top.sv.bak
Top.qpf
Top.qsf
alu.sv.bak
alu/
c5_pin_model_dump.txt
counter.v
cpu.sv.bak
db/
decoder.sv.bak
exec
incremental_db/
memory.sv.bak
output_files/
parameters.h.bak
serv_req_info.txt
simulation/
top.sv.bak
